body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #aa00cc79;
  /* border-right: none; */
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  margin-bottom: 1em;
}

.searchTerm:focus{
  color: #ab03d4b7;
}

.searchButton {
  width: 40px;
  height: 36px;
  /* border: 1px solid #00B4CC;
  background: #00B4CC; */
  background: rgba(168, 142, 142, 0.203);
  border: 1px solid gray;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  /* width: 100%;
  position: relative; */
}

.fa-search{

}

/* <span class='icn icn-find'></span> then the css was  */
.icn-find:after { 				
  display: block; 				
  content: "🔍"; 			
  transition: 0.4s;
}

.icn-find:hover { 				
  -webkit-transform: rotate(-45deg); 				
  -moz-transform: rotate(-45deg); 				
  -o-transform: rotate(-45deg); 				
  transform: rotate(-45deg); 				
  display: block; 				
  content: "🔍"; 			
  transition: 0.4s;

}


/* pagination */

li.page-item {
    display: inline-block;
    border: rgba(255, 0, 255, 0.301) 1px solid;
    margin: .5em 1em;
    padding: .5em;
    color: rgb(90, 90, 90);
}


li.validation-error {
  color: magenta;
  font-weight: bold;
}

.page-item.active {
  background-color: aqua;
}